/* ---------- COLORS --------- */

/* --- primary --- */
$color__primary--brand-blue: #0b63ce;
$color__primary--dark-blue: #134194;
$color__primary--black: #09101d;
$color__primary--white: #FFFFFF;

/* --- neutral --- */
$color__neutral--1: #2c3a4b;
$color__neutral--2: #394452;
$color__neutral--3: #545d69;
$color__neutral--4: #6d7580;
$color__neutral--5: #858c94;
$color__neutral--6: #a5abb3;
$color__neutral--7: #dadee3;
$color__neutral--8: #ebeef2;
$color__neutral--9: #f4f6f9;

/* --- accent --- */
$color__accent--0: #072252;
$color__accent--1: #1aa0e8;
$color__accent--2: #e06e31;
$color__accent--3: #d33a2f;
$color__accent--4: #42bfc2;
$color__accent--5: #e55e75;
$color__accent--6: #19ab4f;
$color__accent--7: #503690;
$color__accent--8: #fdcc4a;
$color__accent--9: #47c6f5;

/* --- aciton --- */
$color__action--default: #0b5fff;
$color__action--default--hover: darken($color__action--default, 5%);
$color__action--default--active: darken($color__action--default, 10%);
$color__action--secondary: $color__accent--6;
$color__action--secondary--hover: darken($color__action--secondary, 5%);
$color__action--secondary--active: darken($color__action--secondary, 10%);
$color__action--visited: #5e38ba;

/* --- function --- */
$color__function--error: #da1414;
$color__function--error--border: lighten($color__function--error, 28%);
$color__function--error--background: lighten($color__function--error, 50%);
$color__function--warning: #b95000;
$color__function--warning--border: lighten($color__function--warning, 25%);
$color__function--warning--background: lighten($color__function--warning, 60%);
$color__function--success: #287d3c;
$color__function--success--border: lighten($color__function--success, 25%);
$color__function--success--background: lighten($color__function--success, 63%);
$color__function--info: #2e5aac;
$color__function--info--border: lighten($color__function--info, 28%);
$color__function--info--background: lighten($color__function--info, 53%);

/* ---------- SIZES --------- */
$size--0_25: 0.25rem;
$size--0_5: 0.5rem;
$size--0_75: 0.75rem;
$size--1: 1rem;
$size--1_25: 1.25rem;
$size--1_5: 1.5rem;
$size--2: 2rem;
$size--2_5: 2.5rem;
$size--3: 3rem;
$size--3_5: 3.5rem;
$size--4: 4rem;
$size--5: 5rem;
$size--6: 6rem;

/* ---------- TYPOGRAPHY --------- */
$fontFamily__sans: "Source Sans Pro", Tahoma, "Trebuchet MS", sans-serif;
$fontFamily__serif: "Source Serif Pro", Georgia, Cambria, "Times New Roman",
  Times, serif;
$fontFamily__mono: "Source Code Pro", Menlo, monospace;

$font__paragraph--base: 400 1.125rem/1.75rem $fontFamily__sans;
$font__paragraph--small: 400 1rem/1.5rem $fontFamily__sans;
$font__heading--f1: 600 2rem/2.25rem $fontFamily__sans;

$fontSize__paragraph--base: $size--1_25;
$fontSize__paragraph--small: $size--1;
$fontSize__paragraph--xsmall: $size--0_75;

/* ---------- BREAKPOINTS --------- */
$breakpoint__forPhoneOnly: 599px;
$breakpoint__forTabletPortraitUp: 600px;
$breakpoint__forTabletLandscapeUp: 900px;
$breakpoint__forDesktopUp: 1200px;
$breakpoint__forBigDesktopUp: 1800px;

@mixin forPhoneOnly {
  @media (max-width: $breakpoint__forPhoneOnly) {
    @content;
  }
}
@mixin forTabletPortraitUp {
  @media (min-width: $breakpoint__forTabletPortraitUp) {
    @content;
  }
}
@mixin forTabletPortraitOnly {
  @media (min-width: $breakpoint__forTabletPortraitUp) and (max-width: calc($breakpoint__forTabletLandscapeUp - 1px)) {
    @content;
  }
}
@mixin forTabletLandscapeUp {
  @media (min-width: $breakpoint__forTabletLandscapeUp) {
    @content;
  }
}
@mixin forTabletLandscapeOnly {
  @media (min-width: $breakpoint__forTabletLandscapeUp) and (max-width: calc($breakpoint__forDesktopUp - 1px)) {
    @content;
  }
}
@mixin forDesktopUP {
  @media (min-width: $breakpoint__forDesktopUp) {
    @content;
  }
}
@mixin forDesktopOnly {
  @media (min-width: $breakpoint__forDesktopUp) and (max-width: calc($breakpoint__forBigDesktopUp - 1px)) {
    @content;
  }
}
@mixin forBigDesktopUp {
  @media (min-width: $breakpoint__forBigDesktopUp) {
    @content;
  }
}

/* ---------- ELEVATIONS --------- */
@function elevation($n) {
  @return 0px ($n - 1) * 0.3 + 0.5px $n * 0.35 + 3px ($n - 1) * -0.33px
      rgba(0, 0, 0, 0.14),
    0px $n * 1px $n * 1.5px ($n - 1) * 0.15px rgba(0, 0, 0, 0.03 + ($n * 0.002)),
    0px $n * 0.3 + 2px $n * 2px $n * 0.4 - 1px rgba(0, 0, 0, 0.06);
}

$elevationMap: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 6,
  6: 8,
  7: 11,
  8: 15,
  9: 24
);

$elevation--1: elevation(map-get($elevationMap, 1));
$elevation--2: elevation(map-get($elevationMap, 2));
$elevation--3: elevation(map-get($elevationMap, 3));
$elevation--4: elevation(map-get($elevationMap, 4));
$elevation--5: elevation(map-get($elevationMap, 5));
$elevation--6: elevation(map-get($elevationMap, 6));
$elevation--7: elevation(map-get($elevationMap, 7));
$elevation--8: elevation(map-get($elevationMap, 8));
$elevation--9: elevation(map-get($elevationMap, 9));

:root {
  /* ---------- SIZES --------- */
  --size--0_25: #{$size--0_25};
  --size--0_5: #{$size--0_5};
  --size--0_75: #{$size--0_75};
  --size--1: #{$size--1};
  --size--1_25: #{$size--1_25};
  --size--1_5: #{$size--1_5};
  --size--2: #{$size--2};
  --size--2_5: #{$size--2_5};
  --size--3: #{$size--3};
  --size--3_5: #{$size--3_5};
  --size--4: #{$size--4};
  --size--5: #{$size--5};
  --size--6: #{$size--6};
  /* ---------- TYPOGRAPHY --------- */

  --fontFamily__sans: $fontFamily__sans;
  --fontFamily__serif: $fontFamily__serif;
  --fontFamily__mono: $fontFamily__mono;

  /* ---------- COLORS --------- */

  /* --- primary --- */
  --color__primary--brand-blue: #{$color__primary--brand-blue};
  --color__primary--dark-blue: #{$color__primary--dark-blue};
  --color__primary--black: #{$color__primary--black};
  --color__primary--white: #{$color__primary--white};

  /* --- neutral --- */
  --color__neutral--1: #{$color__neutral--1};
  --color__neutral--2: #{$color__neutral--2};
  --color__neutral--3: #{$color__neutral--3};
  --color__neutral--4: #{$color__neutral--4};
  --color__neutral--5: #{$color__neutral--5};
  --color__neutral--6: #{$color__neutral--6};
  --color__neutral--7: #{$color__neutral--7};
  --color__neutral--8: #{$color__neutral--8};
  --color__neutral--9: #{$color__neutral--9};

  /* --- accent --- */
  --color__accent--0: #{$color__accent--0};
  --color__accent--1: #{$color__accent--1};
  --color__accent--2: #{$color__accent--2};
  --color__accent--3: #{$color__accent--3};
  --color__accent--4: #{$color__accent--4};
  --color__accent--5: #{$color__accent--5};
  --color__accent--6: #{$color__accent--6};
  --color__accent--7: #{$color__accent--7};
  --color__accent--8: #{$color__accent--8};
  --color__accent--9: #{$color__accent--9};

  /* --- aciton --- */
  --color__action--default: #{$color__action--default};
  --color__action--default--hover: #{$color__action--default--hover};
  --color__action--default--active: #{$color__action--default--active};
  --color__action--secondary: #{$color__action--secondary};
  --color__action--secondary--hover: #{$color__action--secondary--hover};
  --color__action--secondary--active: #{$color__action--secondary--active};
  --color__action--visited: #{$color__action--visited};

  /* --- function --- */
  --color__function--error: #{$color__function--error};
  --color__function--error--border: #{$color__function--error--border};
  --color__function--error--background: #{$color__function--error--background};
  --color__function--warning: #{$color__function--warning};
  --color__function--warning--border: #{$color__function--warning--border};
  --color__function--warning--background: #{$color__function--warning--background};
  --color__function--success: #{$color__function--success};
  --color__function--success--border: #{$color__function--success--border};
  --color__function--success--background: #{$color__function--success--background};
  --color__function--info: #{$color__function--info};
  --color__function--info--border: #{$color__function--info--border};
  --color__function--info--background: #{$color__function--info--background};

  /* ---------- BREAKPOINTS --------- */
  --breakpoint__forPhoneOnly: #{$breakpoint__forPhoneOnly};
  --breakpoint__forTabletPortraitUp: #{$breakpoint__forTabletPortraitUp};
  --breakpoint__forTabletLandscapeUp: #{$breakpoint__forTabletLandscapeUp};
  --breakpoint__forDesktopUp: #{$breakpoint__forDesktopUp};
  --breakpoint__forBigDesktopUp: #{$breakpoint__forBigDesktopUp};

  /* ---------- ELEVATIONS --------- */

  --elevation--1: #{$elevation--1};
  --elevation--2: #{$elevation--2};
  --elevation--3: #{$elevation--3};
  --elevation--4: #{$elevation--4};
  --elevation--5: #{$elevation--5};
  --elevation--6: #{$elevation--6};
  --elevation--7: #{$elevation--7};
  --elevation--8: #{$elevation--8};
  --elevation--9: #{$elevation--9};
}
