body {
	display: flex;
	justify-content: space-around;
	padding: 2em;
	font: 400 18px/28px 'Source Sans Pro',Tahoma,'Trebuchet MS',sans-serif;
}

/* ---------- BUTTONS --------- */
.button {
  border-radius: 4px;
  box-shadow: 0 0 0.75em 0 rgba(100,116,128,.16), 0 0.375em 1em -0.5em rgba(100,116,128,.8);
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0 0.875em 0 rgba(100,116,128,.16), 0 0.5em 1.125em -0.5em rgba(100,116,128,.8);
    transform: translateY(calc(-3px + -1%));
  }
  &:focus {
    box-shadow: 0 0 0.875em 0 rgba(100,116,128,.16), 0 0.5em 1.125em -0.5em rgba(100,116,128,.8);
    transform: translateY(calc(-3px + -1%));
  }
  &:active {
    box-shadow: 0 0 0.75em 0 rgba(100,116,128,.16), 0 0.375em 1em -0.5em rgba(100,116,128,.8);
    transform: translateY(0);
  }
}

.button--small {
  padding: 4px 12px;
  font-size: 16px;
}
.button--medium {
  padding: 8px 16px;
}
.button--large {
  padding: 12px 20px;
}
.button--blue {
  background: #0b5fff;
  color: #fff;
  &:hover, &:focus {
    background: #0053f0;
  }
  &:active {
    background: #004AD7;
  }
}
.button--white {
  background: #fff;
  color: #0b5fff;
  &:hover, &:focus {
    color: #0053f0;
  }
  &:active {
    color: #004AD7;
  }
}
.button--icon {
  padding: 0.5em 2.25em 0.5em 1em;
  position: relative;
  svg {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
}

/* ---------- ELEVATIONS --------- */
$intensityMap: (
	"lighter": 0.25,
	"light": 0.5,
	"default": 1,
	"dark": 2,
	"darker": 4,
);

@mixin elevation($n, $intensity: default) {
	box-shadow:
		0px ($n - 1)*0.3 + 0.5px $n*0.35 + 3px ($n - 1) * -0.33px rgba(0, 0, 0, 0.14 * map-get($intensityMap, $intensity)),
		0px $n*1px $n*1.5px ($n - 1) * 0.15px rgba(0, 0, 0, 0.03 + ($n * 0.002 * map-get($intensityMap, $intensity)) ),
		0px $n*0.3 + 2px $n*2px $n * 0.4 - 1px rgba(0, 0, 0, 0.06 * map-get($intensityMap, $intensity));
}

$elevationMap: (
	1: 1,
	2: 2,
	3: 3,
	4: 4,
	5: 6,
	6: 8,
	7: 11,
	8: 15,
	9: 24,
);

@for $i from 1 through 9 {
  .elevation--#{$i} {
    @include elevation(map-get($elevationMap, $i));
  }
}