body {
	display: flex;
	justify-content: space-around;
	padding: 2em;
    font: 600 16px/1.5 'Source Sans Pro',Tahoma,'Trebuchet MS',sans-serif;
}

/* BUTTONS */
.button {
  border-radius: 4px;
  box-shadow: 0 0 0.75em 0 rgba(100,116,128,.16), 0 0.375em 1em -0.5em rgba(100,116,128,.8);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0 0.875em 0 rgba(100,116,128,.16), 0 0.5em 1.125em -0.5em rgba(100,116,128,.8);
    transform: translateY(calc(-3px + -1%));
  }
  &:focus {
    box-shadow: 0 0 0.875em 0 rgba(100,116,128,.16), 0 0.5em 1.125em -0.5em rgba(100,116,128,.8);
    transform: translateY(calc(-3px + -1%));
  }
  &:active {
    box-shadow: 0 0 0.75em 0 rgba(100,116,128,.16), 0 0.375em 1em -0.5em rgba(100,116,128,.8);
    transform: translateY(0);
  }
}

.button--medium {
  padding: 0.5em 1em;
  font-size: 1em;
}
.button--blue {
  background: #0b5fff;
  color: #fff;
  &:hover, &:focus {
    background: #0053f0;
  }
  &:active {
    background: #004AD7;
  }
}
.button--white {
  background: #fff;
  color: #0b5fff;
  &:hover, &:focus {
    color: #0053f0;
  }
  &:active {
    color: #004AD7;
  }
}
.button--icon {
  padding: 0.5em 2.25em 0.5em 1em;
  position: relative;
  svg {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
}

/* ELEVATION */
.elevation--1 {
  @extend %elevation--1;
}
.elevation--2 {
  @extend %elevation--2;
}
.elevation--3 {
  @extend %elevation--3;
}
.elevation--4 {
  @extend %elevation--4;
}

%elevation--1 {
  box-shadow: 0 0 0.625em 0 
RGBA(76, 76, 76, 0.16);
  box-shadow: 0 0 0.875em -0.5em
RGBA(76, 76, 76, 0.8);
}
%elevation--2 {
  box-shadow: 0 0 0.75em 0 
RGBA(76, 76, 76, 0.16);
  box-shadow: 0 0.375em 1em -0.5em
RGBA(76, 76, 76, 0.8);
}
%elevation--3 {
  box-shadow: 0 0 0.875em 0 
RGBA(76, 76, 76, 0.16);
  box-shadow: 0 0.5em 1.125em -0.5em
RGBA(76, 76, 76, 0.8);
}
%elevation--4 {
  box-shadow: 0 0 1em 0
RGBA(76, 76, 76, 0.16);
  box-shadow: 0 1.125em 1.25em -0.5em
RGBA(76, 76, 76, 0.8);
}