@import "design-tokens.scss";

html {
  font-size: 16px;
}
body {
	display: flex;
	justify-content: space-around;
	padding: $size--2;
	font: $font__paragraph--base;
}

/* ---------- BUTTONS --------- */
.button {
  border-radius: $size--0_25;
  box-shadow: $elevation--3;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: $size--1_5;
  line-height: $size--1_5;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    box-shadow: $elevation--6;
    transform: translateY(calc(-3px + -1%));
  }
  &:focus {
    box-shadow: $elevation--6;
    transform: translateY(calc(-3px + -1%));
  }
  &:active {
    box-shadow: $elevation--3;
    transform: translateY(0);
  }
}

.button--small {
  padding: $size--0_25 $size--0_75;
  font-size: $fontSize__paragraph--xsmall;
}
.button--medium {
  padding: $size--0_5 $size--1;
  font-size: $fontSize__paragraph--small;
}
.button--large {
  padding: $size--0_75 $size--1_25;
  font-size: $fontSize__paragraph--base;
}
.button--primary {
  background: $color__action--default;
  color: $color__primary--white;
  &:hover, &:focus {
    background: $color__action--default--hover;
  }
  &:active {
    background: $color__action--default--active;
  }
}
.button--secondary {
  background: $color__primary--white;
  color: $color__action--default;
  &:hover, &:focus {
    color: $color__action--default--hover;
  }
  &:active {
    color: $color__action--default--active;
  }
}
.button--alternate {
  background: $color__action--secondary;
  color: $color__primary--white;
  &:hover, &:focus {
    background: $color__action--secondary--hover;
  }
  &:active {
    background: $color__action--secondary--active;
  }
}
.button--icon {
  padding: $size--0_5 2.25rem $size--0_5 $size--1;
  position: relative;
  svg {
    position: absolute;
    right: $size--0_5;
    top: $size--0_5;
  }
}

/* ---------- ELEVATIONS --------- */
.elevation--1 {
  box-shadow: $elevation--1;
}
.elevation--2 {
  box-shadow: $elevation--2;
}
.elevation--3 {
  box-shadow: $elevation--3;
}
.elevation--4 {
  box-shadow: $elevation--4;
}
.elevation--5 {
  box-shadow: $elevation--5;
}
.elevation--6 {
  box-shadow: $elevation--6;
}
.elevation--7 {
  box-shadow: $elevation--7;
}
.elevation--8 {
  box-shadow: $elevation--8;
}
.elevation--9 {
  box-shadow: $elevation--9;
}